.faq-background {
    background: white;
    height: 100%;
    border-radius: 0px 0px 28px 28px;
    padding: 50px 20px;
}

.accordion-container {
    width: 100%;

    .accordion {
      max-width: 600px;
      margin: 20px auto;
      font-family: Arial, sans-serif;
      overflow: hidden;
    }
}

.faq-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    
    color: var(--sub-text-color);
}

.accordion-item:last-of-type {
  border-bottom: none;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 12px 16px;
  background-color: #4BC08180;
  color: var(--sub-text-color);
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.accordion-header:hover {
  background-color: #eaeaea;
}

.icon {
  transition: transform 0.3s ease;
  font-size: 20px;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 16px;
  transition: max-height 0.35s ease, padding 0.35s ease;
  background-color: #fff;
  color: var(--sub-text-color);
}

.accordion-content p {
  margin: 12px 0;
  font-size: 14px;
  line-height: 1.5;
}

.accordion-item input {
  display: none;
}

.accordion-item input:checked ~ .accordion-content {
  max-height: 400px;
  padding: 12px 16px;
}

.accordion-item input:checked + .accordion-header .icon {
  transform: rotate(45deg);
}

