.clientlist-background {
    height: 100%;
    border-radius: 0px 0px 28px 28px;
    max-width: 1000px;
    margin: 0 auto;
    // padding: 50px 20px;

    .clientlist-container {        
        border-radius: 8px;
        margin: 10px;
        padding: 30px 20px;

        .clientlist-image-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 50px; 
            padding: 20px;           

            .grid {
                padding: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                svg {
                    height: 50px;
                }
            }

            .one {
                color: #808080;
            }
        }
    }
}