.showcase-background {
    background: white;
    height: 100%;
    border-radius: 0px 0px 28px 28px;
    padding: 30px 0 70px 0;
}

.card-outer {
    background: lightgrey;
    color: var(--sub-text-color);
    border-radius: 8px;
    margin: 10px;
    padding: 30px 20px;     

    .card-inner {
        display: flex;
        position: relative;
        margin-bottom: 10px;  
        height: 320px;
            width: 240px;
        
        .image-bit {
            height: 200px;
            width: 100px;
            object-fit: cover;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            border-radius: 1rem;
        }

        .tag-bit {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 100px;
        }
    }
}


.contact-modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1200;
}

.contact-modal-content {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 100vw;
    width: 95%;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    position: relative;
}

.contact-modal-content::after {
  content: "";
  position: absolute;
  top: -50px;
  left: 110px;
  transform: translateX(-50%);
  width: 220px;
  height: 70px;
  background: #ffffff;
  border-radius: 20px 20px 0 0;
}

.contact-modal-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 12px;
}

.contact-modal-close {
    background: transparent;
    border: none;
    font-size: 30px;
    padding: 0 10px;
    cursor: pointer;
    line-height: 1;
}

.contactform {
    background: var(--secondary-bg);
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
    border-radius: 24px;
}

