.footer {
    background: var(--green-dark);
    color: var(--sub-text-color);
    font-weight: 800;
    padding: 20px;
    text-align: center;

    .footer-container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 40px 0 60px 0;
      
        .footer-container-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 50px;

            .left-content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 35px;
            }

            .middle-content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 25px;
                a {
                    color: var(--sub-text-color);
                    text-decoration: none;
                }
            } 
        }
}

}

