.footer {
    background: var(--green-dark);
    color: var(--sub-text-color);
    font-weight: 800;
    padding: 20px;
    text-align: center;

    .footer-container {
        max-width: 1200px;
        margin: 0 auto;
      
        .footer-container-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 15px;

            .left-content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 10px;
            }
        }
}

}

